.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

details > summary::-webkit-details-marker {
  display: none;
}

details[open] > summary span {
  transform: rotate(180deg);
}

/* Background Colors */
body {
  background-color: #f9fafb;
}

body.dark {
  background-color: #1f2937;
}